<h1>Ny nominasjon</h1>

<p><b>Navn:</b><br/>
<%= @nomination.name %></p>

<p><b>Institusjon:</b><br/>
<%= @nomination.institution.name %></p>

<p><b>Nominert av:</b><br/>
<%= @nomination.nominator %></p>

<p><b>Begrunnelse:</b><br/>
<%= simple_format(@nomination.reason) %></p>


<p><%= link_to edit_nomination_url(@nomination) do %>
  Godkjenn eller slett nominasjonen her
<% end %></p>
