<%= form_for(@nomination) do |f| %>
  <% if @nomination.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@nomination.errors.count, "error") %> prohibited this nomination from being saved:</h2>

      <ul>
      <% @nomination.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :institution_id %><br>
    <%= f.select :institution_id, Institution.ordered.pluck(:name, :id) %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :reason %><br>
    <%= f.text_area :reason, cols: 40, rows: 10 %>
  </div>
  <div class="field">
    <%= f.label :nominator %><br>
    <%= f.text_field :nominator %>
  </div>
  <div class="field">
    <%= f.label :nominator_email %><br>
    <%= f.text_field :nominator_email %>
  </div>
  <div class="field">
    <%= f.label :verified %><br>
    <%= f.check_box :verified %>
  </div>
  <div class="field">
    <%= f.label :gender %>
    <%= f.radio_button :gender, 'Male' %> Male
    <%= f.radio_button :gender, 'Female' %> Female
    <%= f.radio_button :gender, '' %> Not set
  </div>
  <div class="field">
    <%= f.label :branch %>
    <%= f.radio_button :branch, 'Sciences' %> Sciences
    <%= f.radio_button :branch, 'Humanitites' %> Humanities
    <%= f.radio_button :branch, '' %> Not set
  </div>
  <div class="field">
    <%= f.label :year_of_birth %><br>
    <%= f.number_field :year_of_birth %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
