.nomination
  %h2
    = nomination.name
    %small== ID: #{nomination.id}
  %p.institution= nomination.institution.name
  %p.personalia= personalia(nomination)
  %p.votes
    == #{nomination.votes} stemmer
    == (##{nomination.rank})
  - if nomination.reasons.any?
    %ol= render partial: 'report_reason', collection: nomination.reasons
