<p id="notice"><%= notice %></p>

<h1><%= @nominations.count %> nominasjoner</h1>

<p>
<% if can? :manage, Nomination %>
  <%= link_to 'Full report', full_report_nominations_path %>
<% end %>
</p>

<p>
<% if can? :update, Nomination %>
  <%= button_to "Verify all",
        verify_all_nominations_path,
        method: :post,
        data: { confirm: "Er du sikker?" }
  %>
<% end %>
</p>

<%= form_tag merge_nominations_url, method: :patch, data: { confirm: 'Helt sikker?' } do %>
  <table>
    <thead>
      <tr>
        <th>
          <%= submit_tag 'Smelt' %>
        </th>
        <th><%= sorting_link 'Institusjon', 'institution' %></th>
        <th><%= sorting_link 'Navn', 'name' %></th>
        <th><%= sorting_link 'Nominasjoner', 'reasons' %></th>
        <% if can? :edit, Nomination %>
          <th>Ubehandlede nom.</th>
          <th><%= sorting_link 'Stemmer', 'votes', 'desc' %></th>
        <% end %>
        <th colspan="6"></th>
      </tr>
    </thead>

    <tbody>
      <% @nominations.each do |nomination| %>
        <% if can? :read, nomination %>
          <tr class='<%= cycle %w(odd even)%>'>
            <td>
              <%= check_box_tag 'ids[]', nomination.id %>
            </td>
            <td><%= nomination.institution.abbreviation %></td>
            <td><%= link_to nomination.name, nomination %></td>
            <td><%= nomination.reasons.count %></td>
            <% if can? :edit, nomination %>
              <td><%= nomination.reasons.unverified.count %></td>
              <td><%= nomination.votes %></td>
              <td>
                <%=
                  [
                  case(nomination.gender)
                  when "Male" then "♂"
                  when "Female" then "♀"
                  else nil
                  end,
                  nomination.age ? "#{nomination.age} yrs." : nil,
                  nomination.branch.blank? ? nil : nomination.branch
                  ].compact.join(", ")
                %>

                </td>
              <td><%= link_to 'Vote', vote_nomination_path(nomination), method: :post %></td>
              <td><%= link_to 'Edit', edit_nomination_path(nomination) if can? :edit, nomination %></td>
              <td><%= link_to 'Destroy', nomination, method: :delete, data: { confirm: 'Are you sure?' } if can? :destroy, nomination %></td>
            </tr>
            <% end %>
        <% end %>
      <% end %>
    </tbody>
  </table>
<% end %>

<br>

<%= link_to 'New Nomination', new_nomination_path %>
