<p id="notice"><%= notice %></p>

<h1><%= @nominations.count %> nominasjoner</h1>

<table>
  <thead>
    <tr>
      <th>Institution</th>
      <th>Name</th>
      <th>Reason</th>
      <th colspan="6"></th>
    </tr>
  </thead>

  <tbody>
    <% @nominations.each do |nomination| %>
      <% if can? :read, nomination %>
        <tr class='<%= cycle %w(odd even)%>'>
          <td><%= nomination.institution.abbreviation %></td>
          <td><%= nomination.name %></td>
          <td><abbr title="<%= nomination.reason %>"><%= truncate nomination.reason %></a></td>
          <% if can? :edit, nomination %>
            <td><%= nomination.votes %></td>
            <td>
              <%=
                [
                case(nomination.gender)
                when "Male" then "♂"
                when "Female" then "♀"
                else nil
                end,
                nomination.age ? "#{nomination.age} yrs." : nil,
                nomination.branch.blank? ? nil : nomination.branch
                ].compact.join(", ")
              %>

            </td>
          <% end %>
          <td>
            <%= nomination.verified ? "✔" : "–" %>
          </td>
          <td>
            <% unless nomination.verified? %>
              <%= form_for nomination do |f| %>
                <%= f.hidden_field :verified, value: true %>
                <%= f.button 'Verify', type: 'submit' %>
              <% end %>
            <% end %>
          </td>
          <td><%= link_to 'Vote', vote_nomination_path(nomination), method: :post %></td>
          <td><%= link_to 'Show', nomination if can? :show, nomination%></td>
          <td><%= link_to 'Edit', edit_nomination_path(nomination) if can? :edit, nomination %></td>
          <td><%= link_to 'Destroy', nomination, method: :delete, data: { confirm: 'Are you sure?' } if can? :destroy, nomination %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Nomination', new_nomination_path %>
