<h1><%= @title || "Nominasjoner" %></h1>

<p>
  <%= link_to_unless_current 'List alle', nominations_path %> |
  <%= link_to_unless_current 'Kortliste', shortlist_nominations_path %> |
  <%= link_to 'Full rapport', full_report_nominations_path %>
</p>


<p><%= @nominations.count %> nominasjoner</p>

<%= form_tag merge_nominations_url, method: :patch, data: { confirm: 'Helt sikker?' } do %>
  <table>
    <thead>
      <tr>
        <th>
          <% if can? :edit, Nomination %> 
            <%= submit_tag 'Smelt' %>
          <% end %>
        </th>
        <th><%= sorting_link 'Institusjon', 'institution' %></th>
        <th><%= sorting_link 'Navn', 'name' %></th>
        <th><%= sorting_link 'Nominasjoner', 'reasons' %></th>
        <th><%= sorting_link 'Stemmer', 'votes' %></th>
      </tr>
    </thead>

    <tbody>
      <% @nominations.each do |nomination| %>
        <% if can? :read, nomination %>
          <tr class='<%= cycle %w(odd even)%>'>
            <td>
              <% if can? :edit, nomination %>
                <%= check_box_tag 'ids[]', nomination.id %>
              <% end %>
            </td>
            <td><%= nomination.institution.abbreviation %></td>
            <td><%= link_to nomination.name, nomination %></td>
            <td><%= nomination.reasons.count %></td>
            <td><%= nomination.votes %></td>
            <td><%= personalia(nomination) %></td>
            <% if can? :edit, nomination %>
              <td><%= link_to 'Rediger', edit_nomination_path(nomination) if can? :edit, nomination %></td>
            <% end %>
            <% if can? :destroy, nomination %>
              <td><%= link_to 'Slett', nomination, method: :delete, data: { confirm: 'Are you sure?' } if can? :destroy, nomination %></td>
            <% end %>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
<% end %>


<p>&nbsp;</p>
<div class="digg_pagination">
  <div class="page_info">
    <%= page_entries_info @nominations %>
  </div>
  <%= will_paginate @nominations, :container => false %>
</div>


<p>
<% if can? :update, Nomination %>
  <%= button_to "Verify all",
        verify_all_nominations_path,
        method: :post,
        data: { confirm: "Er du sikker?" }
  %>
<% end %>
</p>

<% if can? :create, Nomination %>
  <%= link_to 'Ny nominasjon', new_nomination_path %>
<% end %>
