<p id="notice"><%= notice %></p>

<h2><%= @nomination.name %></h2>
<p>
<% if can? :update, @nomination %>
  <%= link_to 'Rediger', edit_nomination_path(@nomination) %>
<% end %>

<% if can? :destroy, @nomination %>
  <%= link_to 'Slett', @nomination, method: :delete, data: { confirm: 'Er du sikker?' } %>
<% end %>
</p>

<p>
  <strong>Institusjon:</strong>
  <%= @nomination.institution.name %>
</p>

<p>
  <strong>Navn:</strong>
  <%= @nomination.name %>
</p>

<p>
  <strong>Personalia:</strong>
  <%= personalia(@nomination) %>
</p>

<p>
  <strong>Stemmer:</strong>
  <%= @nomination.votes %>
  (#<%= @nomination.rank %> av <%= Nomination.count %>)
</p>


<p>
  <strong>Shortlistet?</strong>
  <%= @nomination.shortlisted? ? "Ja" : "Nei" %>
</p>

<p>
  <strong>Begrunnelse for shortlisting:</strong><br/>
  <%= simple_format @nomination.shortlist_reason %>
</p>

<p>
  <strong>Dokumentasjon og utdyping:</strong><br/>
  <%= auto_link(simple_format(@nomination.documentation)) %>
</p>

<p>
  <strong>Vedlegg:</strong>
  <% if @nomination.attachments.any? %>
    <ul>
      <% @nomination.attachments.each do |att| %>
        <li><%= link_to att.file_file_name, att.file.url %></li>
      <% end %>
    </ul>
  <% end %>
</p>

<h2>Nominasjoner</h2>

<ol>
  <%= render partial: 'reason', collection: @nomination.reasons.accessible_by(current_ability) %>
</ol>

<%= link_to 'Tilbake', nominations_path %>
