<!DOCTYPE html>
<html>
<head>
  <title>ProjectCato</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <p style="text-align: right">
  <% if current_user %>
    Logget inn som <%= current_user.email %>.
    <%= link_to "Logg ut", destroy_user_session_path, method: :delete %>
  <% else %>
    <%= link_to "Logg inn", new_user_session_path %>
  <% end %>
  </p>

<%= yield %>

</body>
</html>
